

@font-face{
	font-family:outfit;
	font-style:normal;
	font-weight:100;
	src:local('Outfit'),
	url(../font/OutfitVariableFont_wght1.woff) 
	format('woff')
}

@font-face{
	font-family:outfit;
	font-style:normal;
	font-weight:100;
	src:local('Outfit'),
	url(../font/Outfit[wght].woff) 
	format('woff')
}

@font-face{
	font-family:outfit;
	ont-style:normal;
	font-weight:250;
	src:local('Outfit'),
	url(../font/OutfitExtraLight.woff) 
	format('woff')
}

@font-face{
	font-family:outfit;
	font-style:normal;
	font-weight:300;
	src:local('Outfit'),
	url(../font/OutfitLight1.woff) 
	format('woff')
}

@font-face{
	font-family:outfit;
	font-style:normal;
	font-weight:400;
	src:local('Outfit'),
	url(../font/OutfitRegular.woff) 
	format('woff')
}

@font-face{
	font-family:outfit;
	font-style:normal;
	font-weight:500;
	src:local('Outfit'),
	url(../font/OutfitMedium.woff) 
	format('woff')
}

@font-face{
	font-family:outfit;
	font-style:normal;
	font-weight:600;
	src:local('Outfit'),
	url(../font/OutfitSemiBold.woff) 
	format('woff')
}

font-face{
	font-family:outfit;
	font-style:normal;
	font-weight:700;
	src:local('Outfit'),
	url(../font/OutfitBold.woff) 
	format('woff')
}

@font-face{
	font-family:outfit;
	font-style:normal;
	font-weight:800;
	src:local('Outfit'),
	url(../font/OutfitExtraBold.woff) 
	format('woff')
}

@font-face{
	font-family:outfit;
	font-style:normal;
	font-weight:900;
	src:local('Outfit'),
	url(../font/OutfitBlack.woff) 
	format('woff')
}
